{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <h1>VA Scan Tasks</h1>
    <div class="row">
      <div class="col-md-4 ">
        <h3>ADD Task</h3>
        <form id="addAppsTask" action="">
          <div class="form-group">
            <input class="form-control" type="text" name="appname" placeholder="AppName" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="task" placeholder="Schedule Scan" required>
          </div>
          
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="col-md-8">
        <h3>Tasks Scan</h3>
        <table id="tasksTable" class="table table-striped">
          <tr>
            <th>AppName</th>
            <th colspan=4>Schedule</th>
            
          </tr>
          {% if tasks %}
          {% for task in tasks %}
          <tr id="task-{{task.id}}">
              <td class="appName taskData" name="appname">{{task.appname}}</td>
              <td class="taskScan taskData" name="task">{{task.taskscan}}</td>
              
              <td align="center">
                  <button class="btn btn-success form-control" onClick="editTask({{task.id}})" data-toggle="modal" data-target="#myModal")">EDIT</button>
              </td>
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteTask({{task.id}})">DELETE</button>
              </td>
          </tr>
          {% endfor %}
          {% else %}
            No Tasks
          {% endif %}
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Update Task</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          
        </div>
        <form id="updateTask" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="app">APP</label>
            <input class="form-control" id="form-app" type="text" name="formApp"/>
            <label for="task">Task</label>
            <input class="form-control" id="form-task" type="text" name="formTask"/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script>
    
// Create Django Ajax Call
$("form#addAppsTask").submit(function() {
    
    var appInput = $('input[name="appname"]').val().trim();
    var taskInput = $('input[name="task"]').val().trim();
    
    
    if (appInput && taskInput) {
        
        // Create Ajax Call
        $.ajax({
            type:'GET',            
            url: '{% url "secmgr-taskscan_create" %}',
            data: {
                'appname': appInput,
                'taskscan': taskInput
            },
            dataType: 'json',
            success: function (data) {
                if (data.task) {
                  appendToTaskTable(data.task);
                }
            }
        });
    } else {
        alert("All fields must have a valid value.");
    }
    $('form#addAppsTask').trigger("reset");
    return false;
});

// Delete Django Ajax Call
function deleteTask(id) {
  var action = confirm("Are you sure you want to delete this task?");
  if (action != false) {
    $.ajax({
        url: '{% url "secmgr-taskscan_delete" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#tasksTable #task-" + id).remove();
            }
        }
    });
  }
}

// Update Django Ajax Call
function editTask(id) {
  if (id) {
    tr_id = "#task-" + id;
    appname = $(tr_id).find(".appName").text();
    taskscan = $(tr_id).find(".taskScan").text();
    
    $('#form-id').val(id);
    $('#form-app').val(appname);
    $('#form-task').val(taskscan);
    
  }
}

// Create Django Ajax Call
$("form#updateTask").submit(function() {
    
    var idInput = $('input[name="formId"]').val().trim();
    var appnameInput = $('input[name="formApp"]').val().trim();
    var taskscanInput = $('input[name="formTask"]').val().trim();
    
    if (appnameInput && taskscanInput) {
        // Create Ajax Call
        $.ajax({
            type:'GET',
            url: '{% url "secmgr-taskscan_update" %}',
            data: {
                'id': idInput,
                'appname': appnameInput,
                'taskscan': taskscanInput
                
            },
            dataType: 'json',
            success: function (data) {
                if (data.task) {
                  updateToTaskTable(data.task);
                }
            }
        });
    } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

function appendToTaskTable(task) {
  $("#tasksTable > tbody:last-child").append(`
        <tr id="task-${task.id}">
            <td class="appName" name="name">${task.appname}</td>
            '<td class="taskScan" name="address">${task.taskscan}</td>            
            '<td align="center">
                <button class="btn btn-success form-control" onClick="editTask(${task.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
            </td>
            <td align="center">
                <button class="btn btn-danger form-control" onClick="deleteTask(${task.id})">DELETE</button>
            </td>
        </tr>
    `);
}
function updateToTaskTable(task){
    
    $("#tasksTable #task-" + task.id).children(".taskData").each(function() {
        var attr = $(this).attr("name");
        
        if (attr == "appname") {
          $(this).text(task.appname);
        } else {
          $(this).text(task.taskscan);
        }
      });
}
</script>
{% endblock javascript %}